$margin-width : 20px

//general
img 
	:max-width 100%


// elements 
.button
	:background $orange
	:color white
	:text-transform uppercase
	:text-decoration none
	:font-weight bold	
	:text-align center
	:padding 12px 42px 12px 32px
	&--download
		:position relative
		.arrow
			:width 18px
			:height 2px
			:display block
			:top 50%
			:right 12px
			:position absolute
			:transform translateY(-50%)
			:background white
			:border-radius 0%
			&:before 
				:content ''
				:width 10px
				:height 2px
				:display block
				:position absolute
				:top -3px
				:right -2px
				:transform rotate(44deg)
				:background white
			&:after 
				:content ''
				:width 10px
				:height 2px
				:display block
				:position absolute
				:bottom -3px
				:right -2px
				:transform rotate(-44deg)
				:background white	

//wrapper
.wrapper
	:width 90%
	:max-width 1200px
	:margin 0 auto
.wrapper--flex 
	:display flex
	:flex-wrap wrap


.grid--quarter
	:width calc(25% - (( #{$margin-width} * 3 ) / 4))
	:margin-right $margin-width
	:display block
	:text-decoration none
	:color $black
	&:nth-of-type(4n)
		:margin-right 0
	img 
		:display block	

.block
	:background white
	:padding 20px
	&--content
		:background white
		:padding 20px 12px 40px	

	