$circle_lg : 800px
$circle_md : 700px
$circle_sm : 500px

.home 
	header 
		:height 640px
		:background url('/images/general/Linkitz-bg-blue.gif')
		:position relative
		:overflow hidden
		:color white
		:text-align center
		+display-for(sm xs)
			:height 500px
		h1 
			:display flex
			:font-family $header-font
			:align-items baseline
			:justify-content center
			:font-weight normal
			:margin 120px 0 4px
			+display-for(sm xs)
				:margin-top 80px
			span 
				:font-size 100px
				:margin-right 20px
				+display-for(sm xs)
					:font-size 60px
			img
				:width 330px
				+display-for(sm xs)
					:width 200px	 
		h2 
			:font-family $body-font
			:font-weight 600
			:font-size 20px
			:margin-top 0	
			+display-for(xs)
				:font-size 14px
		a 
			:cursor pointer
			:font-size 13px
			:color white
			:text-decoration none
			:text-transform uppercase
			:font-weight 600
			:display flex
			:flex-direction column
			:text-align center
			:align-items center
			img
				:width 22px
				:margin-top 10px

		.circle
			:background rgba(255,255,255,0.3)	
			:width $circle_lg
			:height $circle_lg
			:border-radius 50%
			:text-align center
			:position absolute
			:left 50%
			:bottom -450px
			:transform translateX(-50%)
			+display-for(md)
				:bottom -350px
				:width $circle_md
				:height $circle_md
			+display-for(sm xs)
				:bottom -240px
				:width $circle_sm
				:height $circle_sm	
			img.featured
				:width 250px
				:position absolute
				:top -150px
				:left 50%
				:transform translateX(-50%)
				+display-for(sm xs)
					:width 160px
					:top -95px
		.home--order
			:background white
			:width 190px
			:height 190px
			:color $blue
			:border-radius 50%
			:position absolute
			:right -110px
			:top 130px
			+display-for(md sm xs)
				:display none
			p 
				:font-size 18px
				:font-family $header-font
			span.order--arrow
				:width 30px
				:height 30px
				:display block
				:background $blue
				:border-radius 50%
				:text-align center
				:line-height 30px
				:margin 0 auto
				img 
					:width 12px

			img.order--product 
				:width 120px
				:transform rotate(16deg) translateX(-50%)
				:position absolute
				:bottom -14px
				:left 50%
	&--wrapper 
		// :width 90%
		:max-width 1500px
		:margin 0 auto	
		:height 800px	
		+display-for(sm)
			:height 600px
		@media screen and (max-width: 660px)
			:height 1200px	
	&--content
		:background url('/images/general/Linkitz-bg-white.gif')
	&--actions
		:overflow hidden
		:position relative
		> div 
			:width $circle_lg
			:height $circle_lg
			:border-radius 50%
			:position absolute
			+display-for(md)
				:width $circle_md
				:height $circle_md
			+display-for(sm xs)
				:width $circle_sm
				:height $circle_sm	
			&:nth-of-type(1)		
				:background rgba(135, 50, 153, 0.7)
				:left 50%
				:transform translateX(-50%)
				:top -350px
				:z-index 3
				+display-for(md)
					:top -342px
				+display-for(sm xs)
					:top -260px	
				.main-section
					:top 400px
					+display-for(md)
						:top 380px
					+display-for(sm xs)
						:top 265px	
					span.arrow, span.arrow:before, span.arrow:after
						:background $purple
			&:nth-of-type(2)
				:background rgba(231, 26, 75, 0.7)	
				:bottom -250px
				:left 0
				:z-index 2
				+display-for(lg)
					:left -190px
				+display-for(md)
					:left -240px
					:bottom -160px
				+display-for(sm)
					:bottom -70px
					:left -140px
				@media screen and (max-width: 660px)
					:bottom 520px
					:left 0			
				.main-section
					:top 200px
					+display-for(md)
						:left 80px
					+display-for(sm)
						:top 160px
						:left 50px	
					+display-for(xs)
						:left -50px	
					span.arrow, span.arrow:before, span.arrow:after
						:background $red

			&:nth-of-type(3)
				:background rgba(51, 204, 102, 0.7)	
				:bottom -175px
				:right 0
				+display-for(md)
					:right -160px
					:bottom -140px
				+display-for(sm)
					:bottom -60px	
				@media screen and (max-width: 660px)
					:bottom 100px	
				.main-section
					:top 230px
					:right -60px
					@media screen and (min-width: 960px) and (max-width: 1365px)
						:left 230px
						:top 280px
					+display-for(sm)
						:top 120px
						:left 70px	
					+display-for(xs)
						:top 150px
						:right -90px	
					span.arrow, span.arrow:before, span.arrow:after
						:background $green
			h2 
				:font-size 40px
				:margin 0 0 18px
				:font-weight normal
				+display-for(sm xs)
					:font-size 28px
			p 
				:margin 0 0 24px				
		.main-section
			:width 255px
			:color white	
			:margin 0 auto	
			:position relative
			+display-for(sm xs)
				:width 260px
			a 
				:width 40px
				:height 40px
				:border-radius 50%
				:background white
				:display inline-block
				:position relative
				span.arrow
					:width 18px
					:height 2px
					:display block
					:top 50%
					:left 50%
					:position absolute
					:transform translate(-50%, -50%)
					&:before 
						:content ''
						:width 10px
						:height 2px
						:display block
						:position absolute
						:top -3px
						:right -2px
						:transform rotate(44deg)
					&:after 
						:content ''
						:width 10px
						:height 2px
						:display block
						:position absolute
						:bottom -3px
						:right -2px
						:transform rotate(-44deg)	

		img 
			:position absolute
			:z-index 4
			:left 200px	
			:pointer-events none	
			+display-for(lg md sm xs)
				:display none
