.mission 
	:background url('/images/general/Linkitz-bg-blue.gif')	

	&--stats
		> div 
			:color white
			:width calc((100% / 3) - (40px / 3))
			:margin-right 20px
			:margin-bottom 20px
			:padding 40px 20px 60px
			:position relative
			+display-for(xl lg)
				&:nth-of-type(3n + 3)
					:margin-right 0
			+display-for(md sm)
				:width calc(50% - 10px)
				&:nth-of-type(2n + 2)
					:margin-right 0
			+display-for(xs)
				:width 100%	
				:margin-right 0	
			&:nth-of-type(6n + 1)
				:background $purple
			&:nth-of-type(6n + 2)
				:background $orange
			&:nth-of-type(6n + 3)	
				:background $red
			&:nth-of-type(6n + 4)
				:background $pink
			&:nth-of-type(6n + 5)
				:background $green
			&:nth-of-type(6n + 6)	
				:background $cyan
			span 
				:position absolute
				:bottom 24px	
				:left 20px
				:width calc(100% - 40px)
				:font-size 10px
			h3 
				:font-size 25px
				:font-weight normal	
				:margin-top 0
	.block-image
		:margin 20px auto
		img 
			:display block			
		div 
			&:first-of-type
				:width 70%
				+display-for(lg)
					:width 50%
				+display-for(md sm xs)
					:width 100%

			&:last-of-type
				:width 30%
				:background white	
				:display flex
				:align-items center
				:justify-content center
				:flex-direction column
				:padding 40px
				+display-for(lg)
					:padding 20px	
					:width 50%
				+display-for(md sm xs)
					:width 100%
					:align-items flex-start
				p
					:font-size 25px
					:font-family $header-font
					+display-for(lg)
						:font-size 18px