nav 
	:display flex
	ul 
		:display flex
		:margin 0
		:padding 0
		:list-style none
		>li 
			>a 
				:text-transform uppercase
				:color $orange
				:text-decoration none
				:padding 20px
				:display inline-block
				:min-width 150px
				:text-align center
		li 
			:position relative
			&:hover 
				:background $orange
				a
					:color white
				ul 
					:display block
					li 
						&:hover
							:background darken($orange, 10%)
						a 
							:width 100%
							:text-transform capitalize	

		ul 
			:display none
			:position absolute
			:top 100%
			:background $orange
			:color white
			:left 0
			:z-index 10
			:width 100%