.tutorial 
	:background url('/images/general/Linkitz-bg-green.gif')
	:padding 1px 0
	.tutorial--video
		:margin-top 60px
	&--video
		:margin-bottom 60px
		&_container
			:width 65%
			:position relative
			&.closed
				&:after
					:content ''
					:position absolute
					:display block
					:background rgba(0,0,0,0.3)
					:width 100%
					:height 100%
					:top 0
					:left 0
				&:before
					:content ''
					:background url(/images/general/play-triangle.svg) no-repeat
					:background-size 40px
					:background-position 23px
					:line-height 80px
					:text-align center
					:padding-left 10px
					:font-size 40px	
					:box-sizing border-box
					:width 80px
					:height 80px
					:display block
					:color white
					:border-radius 50%
					:border 3px solid white
					:position absolute
					:top 50%
					:left 50%
					:transform translate(-50%, -50%)
					:z-index 10
			video 
				:width 100%
				:display block
			+display-for(md sm xs)
				:width 100%	
		aside
			:width 35%
			:background white
			:padding 40px
			+display-for(md sm xs)
				:width 100%
			h3 
				:font-size 20px
				:font-family $body-font

